
{{#bs-form model=this as |form|}}
  {{#form.element controlType="power-select" property="foo" label="foo" options=options as |el|}}
    {{el.control}}
  {{/form.element}}
  {{#form.element controlType="power-select" property="bar" label="bar" options=options as |el|}}
    {{#el.control as |item|}}
      {{item}}
    {{/el.control}}
  {{/form.element}}
  {{form.element controlType="power-select" property="baz" label="baz" options=options}}
  {{form.element controlType="power-select" property="baz" label="baz" options=optionsPojo optionLabelPath="title"}}
{{/bs-form}}

<p>{{foo}}</p>
<p>{{bar}}</p>
<p>{{baz}}</p>